extends layout
block content
  div.container
    h1 Lista Stampanti
  div.container
    h4 Pewex
    div.device_container
      each prnt in printer
        if prnt[0].society == "Pewex"
          include templates/printers/general
    h4 Elite
    divc.device_container
      each prnt in printer
        if prnt[0].society == "Elite"
          include templates/printers/general
        
    script.
        window.addEventListener('beforeunload', () => {
            localStorage.setItem('scrollPosition', window.scrollY);
        });

        window.addEventListener('load', () => {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
        });