extends layout
block content
  header
    h1 Lista Stampanti
  div.container
    div.device_tabs

    h1 Pewex
    div.device_container
      each prnt in printer
        if prnt[0].society == "Pewex"
          if prnt[0].model== "477"
            include templates/printers/general
          else if prnt[0].model== "P77"
            include templates/printers/general
          else if prnt[0].model== "MFP"
            include templates/printers/general
          else if prnt[0].model == "XEROX"
            include templates/printers/xerox
          else if prnt[0].model == "OTHER"
            include templates/printers/other
          
    h1 Elite
    divc.device_container
      each prnt in printer
        if prnt[0].society == "Elite"
          if prnt[0].model== "477"
            include templates/printers/general
          else if prnt[0].model== "P77"
            include templates/printers/general
          else if prnt[0].model== "MFP"
            include templates/printers/general
          else if prnt[0].model == "XEROX"
            include templates/printers/xerox
          else if prnt[0].model == "OTHER"
            include templates/printers/other
          