extends layout

block content
  header
    h1 Società
  div.container
    div.company_cards
      a.company_card(href='/company/Elite') Elite
      a.company_card(href='/company/Pewex') Pewex
      a.company_card(href='/company/Stefanelli') Gruppo Stefanelli
