extends layout

block content
  header
    h1 Storico Consegne
  div.container
    div#logs-table

  script.
    var logs = !{JSON.stringify(log)};
    var printer = !{JSON.stringify(printer)};
    let printerName;

    var tabledata = [];

    let length = 0;
    let i = 0;
    while(true) {
      if(logs[0][i]) {i++}
      else{length = i; break;}
    }

    for (let i = 0; i < length; i++) {
        for (let j = 0; j < printer.length; j++) {
          if(printer[j][0].ID == logs[0][i].printer) {
            logs[0][i].printer = printer[j][0].name;
          }
        }
      tabledata.push(logs[0][i]);
    }
    
    var table = new Tabulator("#logs-table", {
      height: 205,
      data: tabledata,
      laoyut: "fitColumns",
      columns: [
        {title: "Societá", field: "society", width: 250, headerFilter: "input"},
        {title: "Stampante", field: "printer", width: 250, headerFilter: "input"},
        {title: "Modello", field: "model", width: 250, headerFilter: "input"},
        {title: "Toner", field: "toner", width: 250, headerFilter: "input"},
        {title: "Data", field: "data", width: 250, headerFilter: "input"},
        {title: "Note", field: "note", width: 250, headerFilter: "input"},
        {title: "Inserimento", field: "type", width: 250, headerFilter: "input"}
      ]
    });