.company_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.company_card {
    background-color: #F8F9FD;
    padding: 1rem;
    width: 170px;
    text-align: center;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    color: var(--clr-text-important);
    font-weight: 600;
    text-transform: uppercase;
}

.company_card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
