/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {padding: 0 10px;}
    
    /* navbar */
    nav {padding: 0 10px;}
    .nav_logo img{ width: 150px;}
    .nav_menu {display: none;}

    /* header */
    header {padding: 30px 60px;}
    header h1 {font-size: 32px;}
    
    /* device */
    .active {font-size: 22px;}

    /* footer */
    footer {display: block; margin: 15px 0 0 0; padding: 0 10px; font-size: 12px;}
    footer div {margin-top: 10px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}